h4{
 margin: 1.2em;
}
h3{
 color: rgb(157, 69, 179);
 margin-bottom: .5em;
 margin-top: 0em;
}
h1{
 margin: 0.3em;
 margin-bottom: 0em;
}
p{
 text-align: justify;
 font-size: 1em;
 line-height: 1.4em;
}
.page{
 max-width: 800px;
 align-items: center;
 background-color: rgb(238, 238, 238);
 font-family: sans-serif;
 font: 100%;
 margin: auto;
background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.navigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.header-title{
 display: flex;
flex-direction: row;
justify-content: flex-end;
flex-wrap: wrap;
}
a{
 color: rgb(6, 29, 49);
 text-decoration: none;
}
a:hover{
 color: rgb(189, 199, 48);
 text-decoration: underline;
}
.header-text{
 flex:2;
 margin-left: 3em;
 justify-content: space-around;
}
.title-photo{
 flex:1.2;
 display: flex;
 justify-content: flex-end;
 flex-wrap: wrap;
}
.title-photo img{
 width:50px;
 height:50px;
 
}
#sub-title{
 display: flex;
 justify-content: space-around;
}
#sub-title p {
 margin: 0em;
}
.home-message img{
 float: left;
 width: 120px;
 height: 120px;
 border-radius: 50%;
 border: 2em;
 margin-right: 1em;
}

.app-blocks{
 color: rgb(6, 40, 70);
 display: flex;
 flex-direction: column;
}
li{
 margin-top:.5em; 
 font-size: 1em;
}
.top3{
 display: grid;
 grid-template-columns: 6fr 4fr;
 grid-gap: 0.6em;
}
.top-left{
 display: grid;
 grid-template-rows: 4fr 6fr;
 grid-gap: 0.6em;
}
#experience{
 background-color: rgb(221, 246, 250);
 border-radius: 1em;
 display: grid;
 grid-template-columns: 1fr 1.5fr;
 grid-gap: .1em;
 align-items: center;
 justify-content: space-around;
}
.description{
 margin-top: 0em;
 padding-right: 1em;
}
.icon{
 max-width: 100%;
 width: 5em;
 height: 5em;
 margin: auto;
 padding-left: 4em;
}
#project{
 background-color: rgb(247, 225, 216);
 border-radius: 1em;
 display: grid;
 grid-template-columns: 1fr 1.5fr;
 grid-gap: .1em;
 align-items: center;
 justify-content: space-around;
}
.top-right{
 border-radius: 1em;
 background-color: rgb(249, 250, 219);
 display: flex;
 flex-flow: row wrap;
 align-items: center;
 justify-content: space-around;
}
#skill-icon{
 max-width: 100%;
 width: 6em;
 height: 6em;
 margin: auto;
 padding: .5em;
}
#skill-list{
 list-style:square;
}
.hobby{
 margin-top: 0.6em;
 border-radius: 1em;
 display: flex;
 flex-flow: row wrap;
 background-color: rgb(223, 250, 241);
}
#fun-photo-box{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
#fun-photo{
  flex:20em;
 border-radius: 1em;
 max-width: 100%;
 width: 20em;
 height: 20em;;
}
#fun-flex{
 padding-left: 3em;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
}
#fun-grid-icon{
  max-width: 20em;
 display: flex;
 flex-flow: row wrap;
 grid-template-columns: repeat(4, 4em);
  grid-auto-rows: 4em;
  grid-gap: 1em;
}
.icon-fun{
 max-width: 100%;
 width: 3em;
 height: 3em;
 margin: auto;
 padding: 1em;
}
#fun-text{
 padding-left: 3em;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
}
hr {
  border: 1px solid;
  color: rgb(120, 120, 148);
  border-radius: 3px;
  box-shadow: 0 0 1px 1px;
}